.App {
    text-align: center;
    min-height: 100vh;
    padding-bottom: 80px;
}

.shorttxt  {
    font-size: 14px;
}

.vshorttxt  {
    font-size: 12px;
}

.signInOut  {
    max-width: 400px;    
    background-color: #a39c9c2e;
}

.addPost  {
    max-width: 500px;
}

.previewimg  {
    max-height: 200px;
}

.main  {
    min-height: 90vh;
    max-width: 600px;
}

.footer  {
    max-height: 100px;
}